<!DOCTYPE html>

<html>
<body>
<table style="width: 100%; border: 1px solid #ddd">
    <tbody>
    <tr>
        <td>
            <table style="width: 100%; background: #ddd">
                <tbody>
                <tr>
                    <td style="padding: 10px"><img
                            src="-----------------------------------">
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr>
        <td style="padding: 10px;">
            <table style="width: 100%;">
                <tbody>
                <tr>
                    <td style="color: #333; font-size: 13px; padding: 6px 10px;">
                        <!--									<img width="48" height="48" th:src="${oldSupervisorImage}"
                                                            style="float: left; border: 1px solid #ddd;" alt="user" />-->
                        <table>
                            <tbody>
                            <tr>
                                <td style="padding: 20px 0 10px 0;"><strong
                                        style="font-weight: 800;"> Hi <strong><span th:text="${oname}"/></strong> Aryan,
                                </strong></td>
                            </tr>
                            <tr>
                                <td>
                                    <!--Please click the button below to set username & password  <span th:text="${email}"/> </td>-->
                                    corpseed pvt Ltd send invitation for You(<span th:text="${email}"/> </td>)  sales Team as A Senior-Sales-Manager
                            </tr>

                            <tr>
				                            	  <span style="float:left;width:100%;">
				                            	     <a th:href="${Rurl}" style="display: inline-block; border-radius: 2px; padding: 4px 8px; background-color: #5cb85c;border-color: #4cae4c; text-decoration: none; float: left; font-size: 13px; color: #fff; margin: 10px 0;">
					                                      create password
					                                   </a>

				                                   </span>

                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding: 0 25px">Thanks</td>
    </tr>
    <tr>
        <td style="padding: 0 25px 20px 25px">Corpseed Team IT </td>
    </tr>

    <tr>
        <td
                style="background: #ddd; border-top: 5px solid #0099cc; padding: 15px 0; text-align: center">
            <p>Copyright 2009-2023<span th:text="${#dates.format(currentDate, 'yyyy')}"/> Corpseed pvt . All rights reserved.</p></td>
    </tr>
    </tbody>
</table>
</body>
</html>

